<html>
	<head>
		<title>Ayuda</title>
		<link rel="stylesheet" type="text/css" href="OrdenServicio.css">
	</head>
	<body>
		<div align="left">
			<img src="img/logo-simplex.jpg" />
		</div>
		<div align="center">
			<h1>Tutoriales</h1>
			<table width="60%">
				<tr>
					<td width="40%"><h2>Operaciones</h2></td>
					<td width="60%"></td>
				</tr>				
				<tr>
					<th>Tutorial</th>
					<th>Descripcion</th>
				</tr>
				<tr>
					<td><a href="ayuda/IngresoOrdenServicio.pdf">Ingreso de orden de servicio</a></td>
					<td>Muestra la creacion de una nueva orden de servicio</td>
				</tr>
				<tr>
					<td><a href="ayuda/CoordinacionTransporte.pdf">Coordinacion de transporte</a></td>
					<td>Muestra como coordinar el transporte ingresado en una orden de servicio</td>
				</tr>
				<tr>
					<td>Programación de transporte</td>
					<td>Muestra como programar los servicios ingresados en la orden de servicio</td>
				</tr>
				<tr>
					<td>Seguimiento de transporte</td>
					<td> Muestra como se realiza el seguimiento del transporte </td>
				</tr>
				<tr>
					<td> Inventario de transporte </td>
					<td> Muestra como consultar el inventario de transporte </td>
				</tr>
				<tr>
					<td width="40%"><br/><h2>Administracion</h2></td>
					<td width="60%"></td>
				</tr>				
				<tr>
					<th>Tutorial</th>
					<th>Descripcion</th>
				</tr>
				<tr>
					<td>Administración de lugares</td>
					<td>Muestra como ingresar y editar los lugares</td>
				</tr>
				<tr>
					<td>Administración de cliente</td>
					<td>Muestra como administrar los clientes</td>
				</tr>
				<tr>
					<td>Administración de proveedores</td>
					<td>Muestra como ingresar y editar los proveedores del sistema</td>
				</tr>
			</table>
		</div>
	</body>
</html>