<style class="intercom" media="screen" type="text/css">
/* Contrast modal */
#CModal html, #CModal body, #CModal div, #CModal span, #CModal applet, #CModal object, #CModal iframe,
#CModal h1, #CModal h2, #CModal h3, #CModal h4, #CModal h5, #CModal h6, #CModal p, #CModal blockquote, #CModal pre,r
#CModal a, #CModal abbr, #CModal acronym, #CModal address, #CModal big, #CModal cite, #CModal code,
#CModal del, #CModal dfn, #CModal em, #CModal img, #CModal ins, #CModal kbd, #CModal q, #CModal s, #CModal samp,
#CModal small, #CModal strike, #CModal strong, #CModal sub, #CModal sup, #CModal tt, #CModal var,
#CModal b, #CModal u, #CModal i, #CModal center,
#CModal dl, #CModal dt, #CModal dd, #CModal ol, #CModal ul, #CModal li,
#CModal fieldset, #CModal form, #CModal label, #CModal legend,
#CModal table, #CModal caption, #CModal tbody, #CModal tfoot, #CModal thead, #CModal tr, #CModal th, #CModal td,
#CModal article, #CModal aside, #CModal canvas, #CModal details, #CModal figcaption, #CModal figure, #CModal
#CModal footer, #CModal header, #CModal hgroup, #CModal menu, #CModal nav, #CModal section, #CModal summary,
#CModal time, #CModal mark, #CModal audio, #CModal video, #CModal button, #CModal textarea, #CModal input, #IntercomDefaultWidget {
  alignment-adjust: auto;
  alignment-baseline: baseline;
  -webkit-animation: none 0 ease 0 1 normal;
  -moz-animation: none 0 ease 0 1 normal;
  -ms-animation: none 0 ease 0 1 normal;
  animation: none 0 ease 0 1 normal;
  -webkit-animation-play-state: running;
  -moz-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
  appearance: normal;
  azimuth: center;
  backface-visibility: visible;
  background: none 0 0 auto repeat scroll padding-box transparent;
  background-color: transparent;
  background-image: none;
  baseline-shift: baseline;
  binding: none;
  bleed: 6pt;
  bookmark-label: content();
  bookmark-level: none;
  bookmark-state: open;
  bookmark-target: none;
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  bottom: auto;
  box-align: stretch;
  box-decoration-break: slice;
  box-direction: normal;
  box-flex: 0.0;
  box-flex-group: 1;
  box-lines: single;
  box-ordinal-group: 1;
  box-orient: inline-axis;
  box-pack: start;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  break-after: auto;
  break-before: auto;
  break-inside: auto;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  color-profile: auto;
  -webkit-column-count: auto;
  -webkit-column-fill: balance;
  -webkit-column-gap: normal;
  -webkit-column-rule: medium medium #1f1f1f;
  -webkit-column-span: 1;
  -webkit-column-width: auto;
  -webkit-columns: auto auto;
  -moz-column-count: auto;
  -moz-column-fill: balance;
  -moz-column-gap: normal;
  -moz-column-rule: medium medium #1f1f1f;
  -moz-column-span: 1;
  -moz-column-width: auto;
  -moz-columns: auto auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium medium #1f1f1f;
  column-span: 1;
  column-width: auto;
  columns: auto auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  crop: auto;
  cursor: auto;
  direction: ltr;
  display: inline;
  dominant-baseline: auto;
  drop-initial-after-adjust: text-after-edge;
  drop-initial-after-align: baseline;
  drop-initial-before-adjust: text-before-edge;
  drop-initial-before-align: caps-height;
  drop-initial-size: auto;
  drop-initial-value: initial;
  elevation: level;
  empty-cells: show;
  fit: fill;
  fit-position: 0% 0%;
  float: none;
  float-offset: 0 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size-adjust: none;
  font-size: 100%;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font: inherit;
  grid-columns: none;
  grid-rows: none;
  hanging-punctuation: none;
  height: auto;
  hyphenate-after: auto;
  hyphenate-before: auto;
  hyphenate-character: auto;
  hyphenate-lines: no-limit;
  hyphenate-resource: none;
  hyphens: manual;
  icon: auto;
  image-orientation: auto;
  image-rendering: auto;
  image-resolution: normal;
  inline-box-align: last;
  left: auto;
  letter-spacing: normal;
  line-height: inherit;
  line-stacking: inline-line-height exclude-ruby consider-shifts;
  list-style: disc outside none;
  margin: 0;
  marks: none;
  marquee-direction: forward;
  marquee-loop: 1;
  marquee-play-count: 1;
  marquee-speed: normal;
  marquee-style: scroll;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  move-to: normal;
  nav-down: auto;
  nav-index: auto;
  nav-left: auto;
  nav-right: auto;
  nav-up: auto;
  opacity: 1;
  orphans: 2;
  outline: invert none medium;
  outline-offset: 0;
  overflow: visible;
  overflow-style: auto;
  padding: 0;
  page: auto;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  page-policy: start;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  presentation-level: 0;
  punctuation-trim: none;
  quotes: none;
  rendering-intent: auto;
  resize: none;
  right: auto;
  rotation: 0;
  rotation-point: 50% 50%;
  ruby-align: auto;
  ruby-overhang: none;
  ruby-position: before;
  ruby-span: none;
  size: auto;
  string-set: none;
  table-layout: auto;
  text-align: left;
  text-align-last: start
  text-decoration: none;
  text-emphasis: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  top: auto;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50% 0;
  transform-style: flat;
  -webkit-transition: all 0 ease 0;
  -moz-transition: all 0 ease 0;
  -o-transition: all 0 ease 0;
  transition: all 0 ease 0;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  white-space-collapse: collapse;
  widows: 2;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: auto;
  /* And disable MS gradients */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#CModal address, #CModal blockquote, #CModal dd, #CModal div, #CModal dl, #CModal dt, #CModal fieldset, #CModal form, #CModal frame, #CModal frameset, #CModal h1, #CModal h2, #CModal h3, #CModal h4, #CModal h5, #CModal h6, #CModal noframes, #CModal ol, #CModal p, #CModal ul, #CModal center, #CModal dir, #CModal hr, #CModal menu, #CModal pre, #CModal article, #CModal aside, #CModal canvas, #CModal details, #CModal figcaption, #CModal figure, #CModal footer, #CModal header, #CModal hgroup, #CModal menu, #CModal nav, #CModal section, #CModal summary { display: block; }
#CModal li { display: list-item }
#CModal table { display: table }
#CModal tr { display: table-row }
#CModal thead { display: table-header-group }
#CModal tbody { display: table-row-group }
#CModal tfoot { display: table-footer-group }
#CModal col { display: table-column }
#CModal colgroup { display: table-column-group }
#CModal td, #CModal th { display: table-cell; }
#CModal caption { display: table-caption }
#CModal input, #CModal select { display: inline-block }
#CModal a:link, #CModal a:visited, #CModal a:hover, #CModal a:active { color: inherit; background: transparent; }
#CModal textarea, #CModal input { cursor: text; }
#CModal input[type=checkbox], #CModal input[type=radio] { cursor: default; }
#CModal a, #CModal a *, #CModal a span, #CModal button, #CModal button *, #CModal button span, #CModal input[type=submit], #CModal input[type=reset] { cursor: pointer; }
#CModal button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#CModal {
  position: fixed;
	display: none;
  z-index: 2147483001;
  opacity: 0;
  min-width: 400px;
  left: 50%;
  top: 50%;
}
#CModalOverlay {
  position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	display: none;
	background: #000;
	z-index: 2147483000;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
}
#CModal div.content {
  overflow: hidden;
  position: relative;
}
#CModal div.content #CModalIMG {
  display: block;
  position: relative;
}
#CModal.hide_close_button #CModalClose {
  display: none;
}
#CModal.intercom a.new_message,
#CModal.intercom a.back,
#CModal.intercom #CModalClose,
#CModal.intercom h1 {
	position: absolute;
	text-align: left;
	top: 6px;
	left: 0;
	z-index: 2147483300;
	outline: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  opacity: 0.5;
  text-shadow: 0 1px 0 #000;
}
#CModal.intercom a.new_message,
#CModal.intercom a.back,
#CModal.intercom #CModalClose {
	cursor: pointer;
}
#CModal.intercom a.new_message span,
#CModal.intercom a.back span,
#CModal.intercom #CModalClose span {
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 1px 0 #000;
}
#CModal.intercom a.new_message:link,
#CModal.intercom a.back:link,
#CModal.intercom #CModalClose:link {
  background-color: transparent;
}
#CModal.intercom h1 {
  z-index: 2147483200;
  width: 100%;
  text-align: center;
  opacity: 1;
}
#CModal.intercom #CModalClose {
  left: auto;
	top: 16px;
	right: 10px;
	text-align: right;
}
#CModal.intercom.use_icons #CModalClose {
  text-indent: -9999em;
  width: 18px;
  background-image: url(../images/widget-sprites.png?v55);
  background-position: -68px -51px;
  background-repeat: no-repeat;
  right: 6px;
  text-align: left;
}
#CModal.intercom a.back:hover,
#CModal.intercom a.new_message:hover,
#CModal.intercom #CModalClose:hover {
  opacity: 1;
}
#CModal.intercom {
  padding: 10px;
  background: #333;
  background: rgba(0,0,0,0.75);
  width: 607px;
  height: 425px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}
#CModal.ie7,
#CModal.ie8 {
  background: #333;
}
#CModal.intercom div.content {
  padding: 0;
  width: 607px;
  height: 425px;
  position: relative;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-width: 0;
}
#CModal.intercom div.content .pane {
  display: none;
  width: 607px;
  height: 425px;
  position: absolute;
  z-index: 2147483100;
  left: 607px;
  top: 0;
  left: 0;
}
.empty_inbox #IntercomNewMessageContainer a.back {
  display: none;
}
#CModal.intercom.use_icons a.back {
  padding-left: 18px;
  background-image: url(../images/widget-sprites.png?v55);
  background-position: -75px -27px;
  background-repeat: no-repeat;
}
#CModal.intercom.use_icons #IntercomMessageListView a.new_message {
  padding-left: 22px;
  background-image: url(../images/widget-sprites.png?v55);
  background-position: -70px -3px;
  background-repeat: no-repeat;
}
#CModal.intercom #IntercomMessageListView.pane {
  display: block;
}
#CModal.intercom.view_message #IntercomMessageViewContainer.pane {
  display: block;
}
#CModal.intercom.empty_inbox #IntercomNewMessageContainer.pane,
#CModal.intercom.view_new_message #IntercomNewMessageContainer.pane {
  display: block;
}
#CModal.intercom.view_message #IntercomMessageListView.pane,
#CModal.intercom.empty_inbox #IntercomMessageListView.pane,
#CModal.intercom.view_new_message #IntercomMessageListView.pane {
  display: none;
}
#CModal.intercom #IntercomMessageListView ul {
  position: absolute;
  top: 40px;
  left: 0;
  width: 607px;
  height: 385px;
  overflow: auto;
  list-style-type: none;
}
#CModal.intercom #IntercomNewMessageContainer form,
#CModal.intercom #IntercomMessageListView div.table_wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  width: 567px;
  height: 345px;
  background: #f4f4f4;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#CModal.intercom #IntercomMessageListView div.table_wrapper {
  width: 607px;
  height: 385px;
  padding: 0;
  overflow: auto;
  background: #fff;
}
#CModal.intercom #IntercomMessageListView div.table_wrapper table tbody tr:first-child th.user {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
#CModal.intercom #IntercomMessageListView div.table_wrapper table tbody tr:first-child td.time {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
#CModal.intercom #IntercomMessageListView div.table_wrapper table,
#CModal.intercom #IntercomMessageListView div.table_wrapper table tbody,
#CModal.intercom #IntercomMessageListView div.table_wrapper table tbody tr {
  width: 100%;
}
#CModal.intercom #IntercomNewMessageContainer form textarea {
  resize: none;
  width: 557px;
  height: 296px;
  padding: 4px;
  border: 1px solid #8f8f8f;
  background: #faf9e6;
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#CModal.intercom #IntercomNewMessageContainer form textarea:focus {
  border-color: #000;
}
#CModal.intercom #IntercomNewMessageContainer form button,
#CModal.intercom #IntercomMessageView form button,
#CModal.intercom #IntercomMessageView div.thanks a.close_thanks {
  position: absolute;
  height: 30px;
  border: 1px solid #909090;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3c3c3c;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background: #fff;
}
#CModal.ie7 #IntercomNewMessageContainer form button,
#CModal.ie8 #IntercomNewMessageContainer form button,
#CModal.ie7 #IntercomMessageView form button,
#CModal.ie8 #IntercomMessageView form button {
  overflow: visible;
}
#CModal.ie7 #IntercomNewMessageContainer form button,
#CModal.ie7 #IntercomMessageView form button {
  width: auto;
}
#CModal.intercom #IntercomNewMessageContainer form button span,
#CModal.intercom #IntercomMessageView form button span,
#CModal.intercom #IntercomMessageView div.thanks a.close_thanks span {
  cursor: pointer;
  margin: 1px 0 0;
  padding: 0 10px 1px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  width: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 #fff;
  display: inline-block;
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d2d2d2));
  background-image: -webkit-linear-gradient(top, #efefef, #d2d2d2);
  background-image:    -moz-linear-gradient(top, #efefef, #d2d2d2);
  background-image:     -ms-linear-gradient(top, #efefef, #d2d2d2);
  background-image:      -o-linear-gradient(top, #efefef, #d2d2d2);
  background-image:         linear-gradient(top, #efefef, #d2d2d2);
}
#CModal.intercom #IntercomNewMessageContainer form button:hover span,
#CModal.intercom #IntercomMessageView form button:hover span,
#CModal.intercom #IntercomMessageView div.thanks a.close_thanks:hover span {
  background-image: none;
}
#CModal.intercom #IntercomNewMessageContainer form button {
  right: 20px;
  bottom: 10px;
}
#CModal.intercom #IntercomMessageView form button {
  right: 0;
  bottom: 0;
}
#CModal.intercom #IntercomMessageView div.thanks a.close_thanks {
  right: 0;
  bottom: auto;
  top: 10px;
}
#CModal.intercom #IntercomMessageView div.thanks a.close_thanks {
  height: 28px;
  right: 0;
}
#CModal.intercom #IntercomNewMessageContainer form button {
  bottom: 20px;
}
#CModal.intercom #IntercomMessageListView table tr th,
#CModal.intercom #IntercomMessageListView table tr td {
  border-bottom: 1px solid #bfbfbf;
  height: 40px;
  white-space: nowrap;
  vertical-align: top;
}
#CModal.intercom #IntercomMessageListView table tr.last_response_is_from_app_user th,
#CModal.intercom #IntercomMessageListView table tr.last_response_is_from_app_user th a {
  font-style: italic;
}
#CModal.intercom #IntercomMessageListView table tr th,
#CModal.intercom #IntercomMessageListView table tr th a {
  font-weight: normal;
}
#CModal.intercom #IntercomMessageListView table tr.unread th a,
#CModal.intercom #IntercomMessageListView table tr.unread td a {
  font-weight: bold;
}
#CModal.intercom #IntercomMessageListView table tr:hover th,
#CModal.intercom #IntercomMessageListView table tr:hover td {
  background: #f3f3f3;
}
#CModal.intercom #IntercomMessageListView table tr th a,
#CModal.intercom #IntercomMessageListView table tr td a {
  display: block;
  text-decoration: none;
  color: #9e9e9e;
}
#CModal.intercom #IntercomMessageListView table tr th a {
  color: #3e3e3e;
  padding: 9px 10px 0 56px;
  height: 31px;
  background-position: 20px 7px;
  background-repeat: no-repeat;
}
#CModal.intercom #IntercomMessageListView table tr td.said a {
  text-align: left;
  padding: 9px 20px 0 0;
  height: 31px;
}
#CModal.intercom #IntercomMessageListView table tr td.said a span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  cursor: pointer;
}
#CModal.intercom #IntercomMessageListView table tr td.said a span em {
  color: #9e9e9e;
  padding-right: 15px;
  cursor: pointer;
}
#CModal.intercom #IntercomMessageListView table tr.unread td.said a span em {
  font-weight: normal;
}
#CModal.intercom #IntercomMessageListView table tr td.time {
  width: 60px;
}
#CModal.intercom #IntercomMessageListView table tr td.time a {
  text-align: right;
  padding: 9px 20px 0 0;
  height: 31px;
}
#CModal.intercom #IntercomMessageListView table tr td.time a span {
  cursor: pointer;
}
#CModal.intercom.interrupting #IntercomMessageView a.back,
#CModal.intercom.empty_inbox #IntercomMessageView a.back,
.empty_inbox #IntercomNewMessageContainer a.back {
  display: none;
}
#CModal.intercom.has_unread #IntercomMessageView a.back {
  display: block;
}
#CModal.intercom #IntercomMessageView {
  position: absolute;
  top: 40px;
  left: 0;
  height: 385px;
  width: 100%;
  padding: 0;
  background: #c4c4c4;
  background: rgba(244,244,244,0.75);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#CModal.intercom #IntercomMessageView.textarea_has_focus {
  background: rgba(244,244,244,1);
}
#CModal.intercom.ie7 #IntercomMessageView,
#CModal.intercom.ie8 #IntercomMessageView {
  background: #c4c4c4;
}
#CModal.intercom.ie7 #IntercomMessageView.textarea_has_focus,
#CModal.intercom.ie8 #IntercomMessageView.textarea_has_focus {
  background: #f4f4f4;
}
#CModal.intercom #IntercomMessageView ul.comments,
#CModal.intercom #IntercomMessageView ul.comments li {
  list-style-type: none;
}
#CModal.intercom #IntercomMessageView ul.comments {
  width: 567px;
}
#CModal.intercom #IntercomMessageView ul.comments a {
  color: #0069d5;
}
#CModal.intercom #IntercomMessageView div.messages_wrapper {
  postion: relative;
  top: 40px;
  left: 0;
  height: 285px;
  padding: 20px 20px 10px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
#CModal.ie7 #IntercomMessageView div.messages_wrapper,
#CModal.ie8 #IntercomMessageView div.messages_wrapper {
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid #626262;
}
#CModal.intercom #IntercomMessageView.textarea_has_focus div.messages_wrapper {
  height: 225px;
}
#CModal.intercom #IntercomMessageView.reply_sent form {
  display: none;
}
#CModal.intercom #IntercomMessageView form {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 30px;
  opacity: 0.75;
  width: 567px;
}
#CModal.intercom #IntercomMessageView.textarea_has_focus form {
  bottom: auto;
  height: 90px;
  top: 275px;
  opacity: 1;
}
#CModal.intercom #IntercomMessageView form textarea#comment_body {
  resize: none;
  border: 1px solid #8f8f8f;
  background: #faf9e6;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 4px;
  width: 473px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #1f1f1f;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#CModal.intercom #IntercomMessageView.textarea_has_focus form textarea#comment_body {
  height: 80px;
  padding: 4px;
}
#CModal.intercom #IntercomMessageView form textarea#comment_body:focus {
  border-color: #1f1f1f;
}
#CModal.intercom #IntercomNewMessageContainer form.sending button,
#CModal.intercom #IntercomMessageView form.sending button {
  cursor: default;
  opacity: 0.25;
}
#CModal.intercom #IntercomNewMessageContainer form.sending button span,
#CModal.intercom #IntercomMessageView form.sending button span {
  background-image: -webkit-linear-gradient(top, #efefef, #d2d2d2);
  background-image:    -moz-linear-gradient(top, #efefef, #d2d2d2);
  background-image:     -ms-linear-gradient(top, #efefef, #d2d2d2);
  background-image:      -o-linear-gradient(top, #efefef, #d2d2d2);
  background-image:         linear-gradient(top, #efefef, #d2d2d2);
}
#CModal.intercom #IntercomMessageView div.thanks {
  position: absolute;
  bottom: 10px;
  left: 20px;
  height: 51px;
  width: 567px;
}
#CModal.intercom #IntercomMessageView div.thanks p {
  position: absolute;
  left: 0;
  top: 9px;
  height: 20px;
  padding: 6px 0;
  width: 451px;
  color: #1f1f1f;
  line-height: 20px;
}
#CModal.intercom.use_icons #IntercomMessageView div.thanks p {
  padding-left: 24px;
  background-image: url(../images/assets/widget-sprites.png?v55);
  background-position: -68px -72px;
  background-repeat: no-repeat;
}
#CModal.intercom #IntercomMessageView div.message {
  font-size: 14px;
  line-height: 20px;
  width: auto;
  padding: 0 0 19px;
}
#CModal.intercom #IntercomMessageView div.message {
  color: #000;
}
#CModal.intercom #IntercomMessageView div.message div.user {
  padding: 0;
  height: 50px;
}
#CModal.intercom #IntercomMessageView div.message div.user {
  color: #9e9e9e;
  position: relative;
  height: 37px;
}
#CModal.intercom.use_icons #IntercomMessageView div.message div.user {
  padding: 0 0 0 40px;
}
#CModal.intercom #IntercomMessageView div.message div.has_avatar,
#CModal.intercom.use_icons #IntercomMessageView div.message div.has_avatar {
  padding: 0 0 0 60px;
  height: 50px;
}
#CModal.intercom #IntercomMessageView div.message div.user span {
  display: block;
  width: 100%;
  background: #fff;
  padding: 16px 0 0;
  line-height: 16px;
}
#CModal.intercom #IntercomMessageView div.message div.user span em {
  font-style: normal;
  font-weight: bold;
  color: #3d3d3d;
}
#CModal.intercom #IntercomMessageView div.message div.user span span {
  display: inline;
  padding: 0;
}
#CModal.intercom #IntercomMessageView div.message div.user span.avatar {
  display: none;
}
#CModal.intercom.use_icons #IntercomMessageView div.message div.user span.avatar,
#CModal.intercom #IntercomMessageView div.message div.has_avatar span.avatar {
  position: absolute;
  left: 0;
  top: 9px;
  width: 30px;
  height: 28px;
  padding: 0;
}
#CModal.intercom.use_icons #IntercomMessageView div.message div.user span.avatar {
  background-image: url(../images/widget-sprites.png?v55);
  background-position: 0 0;
  display: block;
}
#CModal.intercom #IntercomMessageView div.message div.has_avatar span.avatar,
#CModal.intercom.use_icons #IntercomMessageView div.message div.has_avatar span.avatar {
  width: 50px;
  height: 50px;
  top: 0;
  background: none;
}
#CModal.intercom #IntercomMessageView div.message div.has_avatar span.avatar {
  display: block;
}
#CModal.intercom #IntercomMessageView div.message blockquote {
  background: none;
  width: auto;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px 0 0;
}
#CModal.intercom #IntercomMessageView div.message blockquote a {
  color: #000;
  text-decoration: underline;
}
#CModal.intercom #IntercomMessageView div.message blockquote p {
  padding: 0 0 10px;
}
#CModal.intercom #IntercomMessageView div.message blockquote h1, #CModal.intercom #IntercomMessageView div.message blockquote h2, #CModal.intercom #IntercomMessageView div.message blockquote h3, #CModal.intercom #IntercomMessageView div.message blockquote h4, #CModal.intercom #IntercomMessageView div.message blockquote h5, #CModal.intercom #IntercomMessageView div.message blockquote h6, #CModal.intercom #IntercomMessageView div.message blockquote p, #CModal.intercom #IntercomMessageView div.message blockquote blockquote, #CModal.intercom #IntercomMessageView div.message blockquote pre, #CModal.intercom #IntercomMessageView div.message blockquote ul, #CModal.intercom #IntercomMessageView div.message blockquote ol, #CModal.intercom #IntercomMessageView div.message blockquote li, #CModal.intercom #IntercomMessageView div.message blockquote dl, #CModal.intercom #IntercomMessageView div.message blockquote dt, #CModal.intercom #IntercomMessageView div.message blockquote dd, #CModal.intercom #IntercomMessageView div.message blockquote form, #CModal.intercom #IntercomMessageView div.message blockquote div, #CModal.intercom #IntercomMessageView div.message blockquote fieldset,
#CModal.intercom #IntercomMessageView ul.comments li blockquote h1, #CModal.intercom #IntercomMessageView ul.comments li blockquote h2, #CModal.intercom #IntercomMessageView ul.comments li blockquote h3, #CModal.intercom #IntercomMessageView ul.comments li blockquote h4, #CModal.intercom #IntercomMessageView ul.comments li blockquote h5, #CModal.intercom #IntercomMessageView ul.comments li blockquote h6, #CModal.intercom #IntercomMessageView ul.comments li blockquote p, #CModal.intercom #IntercomMessageView ul.comments li blockquote blockquote, #CModal.intercom #IntercomMessageView ul.comments li blockquote pre, #CModal.intercom #IntercomMessageView ul.comments li blockquote ul, #CModal.intercom #IntercomMessageView ul.comments li blockquote ol, #CModal.intercom #IntercomMessageView ul.comments li blockquote li, #CModal.intercom #IntercomMessageView ul.comments li blockquote dl, #CModal.intercom #IntercomMessageView ul.comments li blockquote dt, #CModal.intercom #IntercomMessageView ul.comments li blockquote dd, #CModal.intercom #IntercomMessageView ul.comments li blockquote form, #CModal.intercom #IntercomMessageView ul.comments li blockquote div, #CModal.intercom #IntercomMessageView ul.comments li blockquote fieldset {
  display: block;
  line-height: 20px;
}
#CModal.intercom #IntercomMessageView div.message blockquote h1, #CModal.intercom #IntercomMessageView div.message blockquote h2, #CModal.intercom #IntercomMessageView div.message blockquote h3, #CModal.intercom #IntercomMessageView div.message blockquote h4, #CModal.intercom #IntercomMessageView div.message blockquote h5, #CModal.intercom #IntercomMessageView div.message blockquote h6, #CModal.intercom #IntercomMessageView div.message blockquote p, #CModal.intercom #IntercomMessageView div.message blockquote blockquote, #CModal.intercom #IntercomMessageView div.message blockquote pre, #CModal.intercom #IntercomMessageView div.message blockquote li, #CModal.intercom #IntercomMessageView div.message blockquote dl, #CModal.intercom #IntercomMessageView div.message blockquote form, #CModal.intercom #IntercomMessageView div.message blockquote div, #CModal.intercom #IntercomMessageView div.message blockquote fieldset {
  padding: 0 0 10px;
}
#CModal.intercom #IntercomMessageView ul.comments li blockquote h1, #CModal.intercom #IntercomMessageView ul.comments li blockquote h2, #CModal.intercom #IntercomMessageView ul.comments li blockquote h3, #CModal.intercom #IntercomMessageView ul.comments li blockquote h4, #CModal.intercom #IntercomMessageView ul.comments li blockquote h5, #CModal.intercom #IntercomMessageView ul.comments li blockquote h6, #CModal.intercom #IntercomMessageView ul.comments li blockquote p, #CModal.intercom #IntercomMessageView ul.comments li blockquote blockquote, #CModal.intercom #IntercomMessageView ul.comments li blockquote pre, #CModal.intercom #IntercomMessageView ul.comments li blockquote li, #CModal.intercom #IntercomMessageView ul.comments li blockquote dl, #CModal.intercom #IntercomMessageView ul.comments li blockquote form, #CModal.intercom #IntercomMessageView ul.comments li blockquote div, #CModal.intercom #IntercomMessageView ul.comments li blockquote fieldset {
  padding: 0 0 5px;
}
#CModal.intercom #IntercomMessageView div.message blockquote h1,
#CModal.intercom #IntercomMessageView ul.comments li blockquote h1 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  position: static;
  line-height: 20px;
  text-shadow: none;
  text-align: left;
  padding-bottom: 12px;
}
#CModal.intercom #IntercomMessageView div.message blockquote h2,
#CModal.intercom #IntercomMessageView ul.comments li blockquote h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  line-height: 20px;
  padding: 1px 0 11px;
}
#CModal.intercom #IntercomMessageView div.message blockquote h3,
#CModal.intercom #IntercomMessageView div.message blockquote h4,
#CModal.intercom #IntercomMessageView div.message blockquote h5,
#CModal.intercom #IntercomMessageView div.message blockquote h6,
#CModal.intercom #IntercomMessageView ul.comments li blockquote h3,
#CModal.intercom #IntercomMessageView ul.comments li blockquote h4,
#CModal.intercom #IntercomMessageView ul.comments li blockquote h5,
#CModal.intercom #IntercomMessageView ul.comments li blockquote h6 {
  font-size: 14px;
  font-weight: bold;
}
#CModal.intercom #IntercomMessageView div.message blockquote ul, #CModal.intercom #IntercomMessageView div.message blockquote ol, #CModal.intercom #IntercomMessageView ul.comments li blockquote ul, #CModal.intercom #IntercomMessageView ul.comments li blockquote ol { margin-left: 2em; }
#CModal.ie7 #IntercomMessageView div.message blockquote ul, #CModal.ie7 #IntercomMessageView div.message blockquote ol, #CModal.ie7 #IntercomMessageView ul.comments li blockquote ul, #CModal.ie7 #IntercomMessageView ul.comments li blockquote ol { margin-left: 0; padding-left: 2em;  }
#CModal.ie7 #IntercomMessageView div.message blockquote ul li, #CModal.ie7 #IntercomMessageView div.message blockquote ol li, #CModal.ie7 #IntercomMessageView ul.comments li blockquote ul li, #CModal.ie7 #IntercomMessageView ul.comments li blockquote ol li { vertical-align: middle; padding-bottom: 0; margin-bottom: 10px; }
#CModal.ie7 #IntercomMessageView ul.comments li blockquote ul li, #CModal.ie7 #IntercomMessageView ul.comments li blockquote ol li { margin-bottom: 5px; }
#CModal.intercom #IntercomMessageView div.message blockquote ul li, #CModal.intercom #IntercomMessageView ul.comments li blockquote ul li, #CModal.intercom #IntercomMessageView div.message blockquote ol li, #CModal.intercom #IntercomMessageView ul.comments li blockquote ol li { display: list-item; border-top: 0 }
#CModal.intercom #IntercomMessageView div.message blockquote ul, #CModal.intercom #IntercomMessageView ul.comments li blockquote ul, #CModal.intercom #IntercomMessageView div.message blockquote ul li, #CModal.intercom #IntercomMessageView ul.comments li blockquote ul li { list-style-type: disc; }
#CModal.intercom #IntercomMessageView div.message blockquote ol, #CModal.intercom #IntercomMessageView ul.comments li blockquote ol, #CModal.intercom #IntercomMessageView div.message blockquote ol li, #CModal.intercom #IntercomMessageView ul.comments li blockquote ol li { list-style-type: decimal; }
#CModal.intercom #IntercomMessageView div.message blockquote table { margin: 0 0 10px; }
#CModal.intercom #IntercomMessageView ul.comments li blockquote table { margin: 0 0 5px; }
#CModal.intercom #IntercomMessageView div.message blockquote th, #CModal.intercom #IntercomMessageView ul.comments li blockquote th { font-weight: bold; }
#CModal.intercom #IntercomMessageView div.message blockquote code, #CModal.intercom #IntercomMessageView div.message blockquote pre, #CModal.intercom #IntercomMessageView div.message blockquote tt, #CModal.intercom #IntercomMessageView ul.comments li blockquote code, #CModal.intercom #IntercomMessageView ul.comments li blockquote pre, #CModal.intercom #IntercomMessageView ul.comments li blockquote tt {
  font-family: Consolas, Monaco, Inconsolata, "Courier New", Courier, monospace;
  font-size: 14px;
}
#CModal.intercom #IntercomMessageView ul.comments li blockquote code, #CModal.intercom #IntercomMessageView ul.comments li blockquote pre, #CModal.intercom #IntercomMessageView ul.comments li blockquote tt {
  font-size: 12px;
}
#CModal.intercom #IntercomMessageView div.message blockquote pre, #CModal.intercom #IntercomMessageView ul.comments li blockquote pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
}
#CModal.intercom #IntercomMessageView div.message blockquote del, #CModal.intercom #IntercomMessageView div.message blockquote strike, #CModal.intercom #IntercomMessageView ul.comments li blockquote del, #CModal.intercom #IntercomMessageView ul.comments li blockquote strike { text-decoration:line-through }
#CModal.intercom #IntercomMessageView div.message blockquote abbr, #CModal.intercom #IntercomMessageView div.message blockquote acronym, #CModal.intercom #IntercomMessageView ul.comments li blockquote abbr, #CModal.intercom #IntercomMessageView ul.comments li blockquote acronym { border-bottom: 1px dotted #626262; }
#CModal.intercom #IntercomMessageView div.message blockquote b, #CModal.intercom #IntercomMessageView div.message blockquote strong, #CModal.intercom #IntercomMessageView div.message blockquote dt, #CModal.intercom #IntercomMessageView ul.comments li blockquote b, #CModal.intercom #IntercomMessageView ul.comments li blockquote strong, #CModal.intercom #IntercomMessageView ul.comments li blockquote dt { font-weight: bold; }
#CModal.intercom #IntercomMessageView div.message blockquote i, #CModal.intercom #IntercomMessageView div.message blockquote em, #CModal.intercom #IntercomMessageView ul.comments li blockquote i, #CModal.intercom #IntercomMessageView ul.comments li blockquote em { font-style: italic; }
#CModal.intercom #IntercomMessageView div.message blockquote u, #CModal.intercom #IntercomMessageView ul.comments li blockquote u { text-decoration: underline; }
#CModal.intercom #IntercomMessageView ul.comments li blockquote p {
  color: #000;
  padding: 0 0 5px;
}
#CModal.intercom #IntercomMessageView ul.comments {
  border-top: 1px solid #bfbfbf;
  padding: 15px 0 0;
  margin: 0;
  list-style-type: none;
  display: none;
}
#CModal.intercom #IntercomMessageView.has_comments ul.comments,
#CModal.intercom #IntercomMessageView.first_message_is_user_response ul.comments {
  display: block;
}
#CModal.intercom #IntercomMessageView.first_message_is_user_response ul.comments {
  padding-top: 0;
  border-top: 0;
}
#CModal.intercom #IntercomMessageView ul.comments li {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0 0;
  margin: 0;
  line-height: 20px;
}
#CModal.intercom #IntercomMessageView ul.comments li.index_0 {
  padding-top: 0;
  border-top: 0;
}
#CModal.intercom #IntercomMessageView ul.comments li div.user {
  position: relative;
  color: #9e9e9e;
}
#CModal.intercom #IntercomMessageView ul.comments li div.user em {
  color: #3e3e3e;
}
#CModal.intercom #IntercomMessageView ul.comments li.user_response div.user em {
  font-style: italic;
}
#CModal.intercom #IntercomMessageView ul.comments li div.has_avatar {
  height: 23px;
  padding-top: 3px;
  padding-left: 36px;
}
#CModal.intercom #IntercomMessageView ul.comments li div.user span.avatar {
  display: none;
}
#CModal.intercom #IntercomMessageView ul.comments li div.has_avatar span.avatar {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
#CModal.intercom #IntercomMessageView div.message blockquote hr,
#CModal.intercom #IntercomMessageView ul.comments li blockquote hr {
  width: 527px;
  margin-left: 20px;
}
#IntercomDefaultWidget {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 2147483647;
  background: transparent url(https://api.intercom.io/assets/default-widget-with-label.png) no-repeat 0 0;
  color: #fff;
  cursor: pointer;
  height: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 19px 11px 46px;
  border: 1px solid #000;
  border-bottom: 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
#IntercomDefaultWidget.unread {
  background-position: 0 -41px;
}
#IntercomDefaultWidget.cmodal_open,
#IntercomDefaultWidget.cmodal_opening {
  display: none;
}
#CModal.intercom.ie7 #IntercomMessageView ul.comments {
  width: 550px;
}
#CModal.intercom.ie7 #IntercomMessageListView div.table_wrapper table {
  width: 590px;
}
#CModal.intercom #IntercomNewMessageContainer form textarea,
#CModal.intercom #IntercomMessageView form textarea#comment_body {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
}
#CModal.ie8 #IntercomNewMessageContainer form textarea,
#CModal.ie9 #IntercomNewMessageContainer form textarea,
#CModal.ie8 #IntercomMessageView form textarea#comment_body,
#CModal.ie9 #IntercomMessageView form textarea#comment_body {
  white-space: pre-line;
}
#CModal.ie7 #IntercomNewMessageContainer form textarea,
#CModal.ie7 #IntercomMessageView form textarea#comment_body {
  white-space: pre;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
#IntercomDefaultWidget {
  width: 55px;
  padding: 10px 0 11px 0;
  text-indent: -9999em;
}
.dir-c {	cursor: pointer;	padding: 8px;	position: absolute;	right: -7px;	top: 1px;}.dir-wp-x {	background: url(../images/widget-signals.png?v55) no-repeat scroll 0 -189px transparent;	height: 7px;	width: 7px;}</style>
