<footer id="footer" class="clearfix">
    <div class="center clearfix">
	<nav id="foot_nav" class="span10 center-align">
	    <ul class="nav nav-pills">
		<li class="current"><a href="index.html" title="Home">Home</a></li>
		<li><a href="que_hacemos.html" title="Qu&eacute; hacemos">Qu&eacute; hacemos</a></li>
		<li><a href="empresa.html" title="Empresa">Empresa</a></li>
		<li><a href="biblioteca.html" title="Biblioteca">Biblioteca</a></li>
		<li><a href="contactanos.html" title="Cont&aacute;ctanos">Cont&aacute;ctanos</a></li>
		<li><a href="trabaja_con_nosotros.html" title="Trabaja con Nosotros">Trabaja con Nosotros</a></li>
	    </ul>
	</nav>
	<div class="copyright span10 clearfix">
	    <div class="span6 left clearfix">
		<div class="foot_logo left">Simplex Log&iacute;stica</div>
		<address>
		    <p><strong>Radio Nextel: </strong>46*205*6251		    </p>
		    <p><strong>Teléfono Oficina: </strong>+56 2 2301 8314<strong><br>
        Tel&eacute;fono móvil:</strong> +56 9 6421 2147 </p>
		    <p><strong>Email:</strong> <a href="mailto:info@simplexlogistica.cl">info@simplexlogistica.cl</a></p>
		</address>
	    </div>
	    <div class="right">
		<nav id="footer_nav" class="clearfix">
		    <ul class="clearfix">
			<li class="youtube right"><a href="http://www.youtube.com/user/SimplexLogistica" title="YouTube">YouTube</a></li>
			<li class="linkedin right"><a href="http://www.linkedin.com/company/3595495?trk=tyah&trkInfo=tas%3Asimplex lo,idx%3A1-1-1" title="LinkedIn">LinkedIn</a></li>
            <li class="google right"><a href="http://www.google.cl" title="Google+">Google+</a></li>
            <li class="twitter right"><a href="http://www.twitter.com/simplexlog" title="Twitter">Twitter</a></li>
		    </ul>
		</nav>
	    </div>
	</div>
    </div>
</footer>