<html>
	<head>
		<title>Seguimiento</title>
		<script src="jquery/simplex/js/jquery-1.9.1.js" type="text/javascript"></script>
		<script src="jquery/simplex/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
		<script src="jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
		<script src="jqgrid/js/i18n/grid.locale-es.js" type="text/javascript"></script>		
		<!--<script src="jqueryLayout/jquery.layout-latest.min.js" type="text/javascript"></script>-->
		<script src="js/common.js" type="text/javascript"></script>
		<!--<script src="js/pixelmatrix-uniform-3e9cd85/jquery.uniform.min.js"></script>
		<script src="js/datetimePicker/jquery.datetimepicker.js"></script>-->
		<script src="js/Seguimiento.js" type="text/javascript"></script>

		<link rel="stylesheet" type="text/css" href="OrdenServicio.css">
		<link rel="stylesheet" type="text/css" href="jquery/simplex/css/simplex/jquery-ui-1.10.3.custom.min.css">
		<link rel="stylesheet" type="text/css" href="jqgrid/css/ui.jqgrid.css">
		<link rel="stylesheet" type="text/css" href="jqueryLayout/layout-default-latest.css">
		<link rel="stylesheet" type="text/css" href="js/pixelmatrix-uniform-3e9cd85/themes/default/css/uniform.default.min.css">
		<link rel="stylesheet" type="text/css" href="js/JqueryAlert/jquery.alerts.css">
		<link rel="stylesheet" type="text/css" href="js/datetimePicker/jquery.datetimepicker.css">
		<script>
			$(document).ready(function() {
				//inicializar();
				cargaGrillaSeguimiento2();
			});
		</script>		
	</head>
	<body>
		<div style="display: none">
			Cliente : <select id="cboCliente"></select>
			Empresa : <select id="cboEmpresa"></select>
			Fecha   : <input type="text" id="txtFecha" />
			<button id="btnFiltrar" onclick="cargaGrillaSeguimiento()">Filtrar</button>
		</div>
		<table id="tblSeguimiento"></table>
		<table id="pagSeguimiento"></table>
		<div id="divSeguimiento" style="display: none">
			<table width="100%">
				<tr>
					<th>Servicio</th>
					<td><label id="lblServicio"></label></td>
					<th>Patente</th>
					<td><label id="lblPatente"></label></td>
				</tr>
				<tr>
					<th>Tramo</th>
					<td><label id="lblTramo"></label></td>
					<th>Chofer</th>
					<td><label id="lblChofer"></label></td>
				</tr>
			</table>
			<table id="tblTramosSeguimiento"></table>
		</div>
	</body>
</html>